{
  "root": true,

  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "impliedStrict": true
    }
  },

  "plugins": [ "node", "standard", "promise", "json" ],
  "extends": [ "standard", "plugin:node/recommended", "eslint:recommended", "plugin:json/recommended", "plugin:promise/recommended"  ],

  "env": {
    "node": true
  },

  "rules": {}
}
